<div class="container p-5">
  <h1>Mes recettes</h1>
  <% @recipes.each do |recipe| %>
    <div>
      <h3><%= link_to recipe.name, recipe_path(recipe) %> - Coût : <%= recipe.total_cost %></h3>
    </div>

  <% end %>
</div>
