<div class="container p-3">
  <h1>Nouvelle recette</h1>
  <div class="flex">
    <%= simple_form_for(@recipe) do |f| %>
      <%= f.input :name, label: "Nom de la recette" %>
      <%= f.button :submit, class:"btn-primary" %>
    <% end %>
  </div>
</div>
