<div class="banner">
  <div class="container">
    <h1>Cost price vous aide à estimer le coût de revient de vos recettes !</h1>
    <p>Imaginez vos recettes, ajoutez vos ingrédients et l'application se charge du reste</p>
    <%= link_to "J'essaie maintenant", new_recipe_path, class:"main-button" %>
  </div>
</div>
