.banner {
  background-image: url('1654092606135.png');
  // background-size: cover;
  //background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  // background-color: $my_yellow;
  padding: 12rem 0;
  // margin-left: 1rem;
  height: 46rem;
}

.banner h1 {
  margin: 0;
  // color: $my_white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.banner p {
  font-size: 1.2rem;
  // color: $my_white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding-bottom: 0.5rem;
}

svg {
  position: fixed;
  top: 0;
  z-index: -1;
}
