.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  flex: auto;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: left;
  padding: 10px 10px 30px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 20px;
  background-color: white;
}

.category-selector:checked + label {
  color: white !important;
}


#ingredient_unit_for_recipe_gramme + label {
  color: black;
}

#ingredient_unit_for_recipe_gramme:checked + label {
  background-color: #FFC65A;
  border-color: #FFC65A;
}


#ingredient_unit_for_recipe_kilogramme + label {
  color: black;
}

#ingredient_unit_for_recipe_kilogramme:checked + label {
  background-color: #FFC65A;
  border-color: #FFC65A;
}


#ingredient_unit_for_recipe_centilitre + label {
  color: black;
}

#ingredient_unit_for_recipe_centilitre:checked + label {
  background-color: #FFC65A;
  border-color: #FFC65A;
}


#ingredient_unit_for_recipe_litre + label {
  color: black;
}

#ingredient_unit_for_recipe_litre:checked + label {
  background-color: #FFC65A;
  border-color: #FFC65A;
}

#ingredient_unit_of_order_gramme + label {
  color: black;
}

#ingredient_unit_of_order_gramme:checked + label {
  background-color: #FFC65A;
  border-color: #FFC65A;
}


#ingredient_unit_of_order_kilogramme + label {
  color: black;
}

#ingredient_unit_of_order_kilogramme:checked + label {
  background-color: #FFC65A;
  border-color: #FFC65A;
}


#ingredient_unit_of_order_centilitre + label {
  color: black;
}

#ingredient_unit_of_order_centilitre:checked + label {
  background-color: #FFC65A;
  border-color: #FFC65A;
}


#ingredient_unit_of_order_litre + label {
  color: black;
}

#ingredient_unit_of_order_litre:checked + label {
  background-color: #FFC65A;
  border-color: #FFC65A;
}
