.form-control {
  background-color: rgba(255, 255, 255, 0.2) !important;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: none !important;
}

.invalid-feedback {
  position: absolute;
  transform: scale(0);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.was-validated .form-control:invalid, .form-control.is-invalid {
  animation: shake 300ms;
}

@keyframes shake {
  25% { transform: translateX(4px); }
  50% { transform: translateX(-4px); }
  75% { transform: translateX(4px); }
}

.form-two-part {
  padding-right: 2rem;
}

.form-login {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }

  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}
