.navbar-resto {
  justify-content: space-between;
  // background: white;
  height: 4rem;
  width: 100vw;
  // opacity: 0.7;
  // border-bottom: 1px solid gray;
  position: sticky;
  top: 0;
}

.navbar-resto .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  color: black !important;
  margin-left: 1rem;
}

.nav-link {
  color: black !important;
  &:hover {
    font-weight: bold;
    border-bottom: 2px solid black;
  }
}

.avatar {
  margin-right: 1rem;
}
